@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Kanit&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-tittle: 'Bungee Shade', cursive, serif;
    --fonte-subT: 'Kanit', sans-serif;

    --cor-1: #1C646D;
    --cor-2: #CEF09D;
    --cor-3: #A0CD60;
    --cor-4: #38184C;
    --cor-5: #1F0802;

}

body{
font-family: Arial, Helvetica, sans-serif;
background-image: linear-gradient(45deg, #38184ca9, #38184c98, white, #38184cd5, white, #38184cd5, #38184cd5);

}


header {
    padding: 20px;
    min-height: 160px;
    background-image: linear-gradient(to left, #1f0802dc, #38184C, #1f0802e0);
    color: white;
}

header > h1 {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: var(--fonte-subT);
    font-size: 4em;
    font-variant: small-caps;

}

nav > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition-duration: .8s;
}

nav a:hover{
    text-decoration: underline;
    background-color: #130501;

}

nav  a{
    padding: 15px;    
    border-radius: 10px;
}

main {
   width: auto;
   background-color: white;
   margin-left: 12px;
   margin-right: 12px;
   box-shadow: 1px 1px 1px 0px black;
   
    }



article > h1 {
    font-size: 2.5em;
    text-align: center;
    font-family: var(--fonte-tittle);
    padding-bottom: 100px;
    padding-top: 50px;

}

article > h2 {
    font-size: 2em;
    font-family: var(--fonte-subT);
    color: #6080BF;
    text-indent: 40px;
    text-decoration: underline;
}

article > p#sub{
    padding-bottom: 50px;
    font-style: italic;
    font-size: 0.7em;
}

article a{
    color: var(--cor-4);
    text-decoration: none;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
    transition-duration: .8s;

}

article a:hover{
    text-decoration: underline;
    background-color: var(--cor-5);
    color: white;
}

article#br {
    padding-top: 80px;
}


a.externo::after{
    content: '\1F517';
}

article { 
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 1.5em;      
}

article > p, p#lorem, p#sub {
    text-indent: 60px;
    padding: 30px;
    
}

article > p#lorem {
    padding-bottom: 100px;
}

section.normal {
    padding-top: 100px;

}

section{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: var(--fonte-padrao);

}

section.img {
    background-color: rgba(58, 58, 58, 0.253);
    color: white;
    box-shadow: inset 1px 1px 3px 0px black;
    background-attachment: fixed;
    max-height: 480px;
    padding-left: 30px;
}

section.img > p {
    max-width: 400px;
    text-align: justify;
    padding-left: 30px;
    display: inline-block;
    text-indent: 30px;
    font-style: italic;
    background-color: rgba(48, 48, 48, 0.349);
    border-radius: 20px;
    padding-right: 30px;
    font-weight: bolder;
}

section#campo{
    background-image: url(./imagens/7500.webp);
    background-position:  top, center;
    background-size: cover;
}

/* TABELA APARTIR DAQUI */ 

table {
    border-collapse: collapse;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
caption {
    padding-bottom: 20px;
    font-size: 1.5em;   
    font-style: italic; 
}

td, th{
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
 table  th {
    background-color: var(--cor-1);
    color: white;
    font-weight: bolder;
 }

 tbody > tr:nth-child(2n){
    background-color: rgba(146, 146, 146, 0.212);
 }

 thead > tr > th{
    position: sticky;
    top: 0px;
 }

 section#brzao {
    background-image: url(./imagens/brasileirao.jpg);
    background-position: center;
    height: 800px;
 }

 footer {
    width: auto;
    height: 482px;
    color: white;
    background-image: linear-gradient(to left, #1f0802, #170a1f, #1f0802);
   
 }
 footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
 }

footer a:hover{
    text-decoration: underline;
}

.menu {
    padding-left: 20px;
    padding-top: 60px;
    float: left;
    padding-left:80px;

}

.menu li {
    padding: 24px;
}

.redes {
    float: right;
    width: 100px;
    padding-top: 40px;
    margin-right: 100px;
    height: 320px;
}

.redes li {
    padding: 8px;
}

.linha{
    width: 96vw;
    background-color: white;
    display: flex; 
    height: 2px;
    margin-top: 40px;
}

footer > p {
    text-align: center;
    font-style: italic;
    font-size: 1em;
}